# for UCB managed servers (RHEL5)
Python>=2.6.6,<=2.7
Django==1.7.11
Pillow==2.9.0
PyGreSQL==5.0.4
Pygments==2.2.0
Wand==0.4.4
certifi==2018.01.18
chardet==3.0.4
colour==0.1.5
dirq==1.7.1
django-extensions==2.0.6
django-filter==1.1.0
django-positions==0.5.5
djangorestframework==3.8.2
idna==2.6
itsdangerous==0.24
numpy==1.14.2
psycopg2==2.7.4
pyasn1==0.4.2
pymongo==3.6.1
pysmb==1.1.22
requests==2.18.4
six==1.11.0
solrpy==0.9.7
static-ranges==0.2.0
typing==3.6.4
urllib3==1.22
wsgiref==0.1.2
