{% load staticfiles %}
<div id="searchstats" style="display: flex; align-items: flex-end; width: 100%; margin-bottom: 5px; margin-top: 13px;">
    {% if url %}
        {% if count > 0 %}
            <div style="flex: 1 1 auto; padding-right: 10px;">
                <h2 style="display: inline">{{ count }} item{{ count|pluralize }} found.</h2>
                {% if pagesummary %}{{ pagesummary }}{% endif %}
                {% if recordlimit %}<span style="color: red;">{{ recordlimit }}</span>{% endif %}
            </div>
        {% else %}
            <div style="flex: 1 1 auto; padding-right: 10px;">
                <h2 style="display: inline">no items found.</h2>
            </div>
        {% endif %}
        <div style="flex: 0 1 auto; padding-right: 10px; margin-bottom: 1px;">
            <div>
                <!-- Target -->
                <input style="padding: 7px 8px; width: 300px" id="emailableurl" value="{{ request.build_absolute_uri }}{% url request.resolver_match.view_name %}?{{ url }}">
                <!-- Trigger -->
                <button class="cbbtn" data-clipboard-target="#emailableurl">
                    <img width="13" src="{% static "cspace_django_site/images/clippy.svg" %}" alt="Copy to clipboard">
                </button>
            </div>
        </div>
    {% endif %}
    {% if time %}
        <div style="flex: 0 1 auto; margin-bottom: 1px;">
            Solr query took {{ time }} seconds.&nbsp;
        </div>
    {% endif %}
    {% if querystring %}
        <div style="flex: 0 1 auto; margin-bottom: 1px;">
            <a onclick="$('#solrquery').toggle(); return false;" id="showquery">show solr query</a>
            <span id="solrquery" style="display: none"><b><i>{{ querystring }}</i></b></span>
        </div>
    {% endif %}
</div>
